$colorBlue: #4169E1;
$colorWhite: #ffffff;
$colorYellow: #ffc266;
$colorGreen: #2eb82e;
$colorGray: #808080;
$colorRed: #ff0000;
$colorBlack: #000000;
$colorLightGray: #9c9c9c;
$colorCream: #e6e6e6;

$myFont: Verdana, sans-serif;