<section>
    <div class="container1">
        <div *ngFor="let item of cartItems;let i=index">
            <img [src]="item.img_url" alt="images">
            
            <div class="price">
                <div>{{item.name}}</div>
                <span>{{item.price - (item.price * item.discount/100) | currency: 'INR'}}</span>
                <span>{{item.price}}</span>
                <span>{{item.discount}}% off</span>
                <button (click)="increase(item)">+</button>
                <span>{{ (counter$ | async)?.count }} </span>
                <button (click)="decrease(item)">-</button>
                <span class="remove" (click)="removeItem(i)">REMOVE</span>
            </div>
            
            
            
        </div>
    </div>
    <div class="container2">
         <!-- <app-price-details [priceDetails]="priceDetails"></app-price-details> -->
         <p>PRICE DETAILS</p>
         <p>Price (item) {{ (counter$ | async)?.count }} : <span>{{this.priceDetails.price | currency: 'INR'}}</span></p>
         <p>Discount : <span>{{priceDetails.discount | currency: 'INR'}}</span></p>
         <p>Total Payable <span>{{priceDetails.total | currency: 'INR'}}</span></p>
    </div>
   
</section>