<section>
    <div class="container1">
        <div *ngFor="let item of cartItems;let i=index">
            <img [src]="item.img_url" alt="images">
            
            <div class="price">
                <div>{{item.name}}</div>
                <span>{{item.price - (item.price * item.discount/100) | currency: 'INR'}}</span>
                <span>{{item.price}}</span>
                <span>{{item.discount}}% off</span>
                <button (click)="increase()">+</button>
                <span>{{ (counter$ | async)?.count }} </span>
                <button (click)="decrease()">-</button>
                <span class="remove">REMOVE</span>
            </div>
        </div>
    </div>
    <div class="container2">
        <p>PRICE DETAILS</p>
        <p>Price (item) : <span>$800</span></p>
        <p>Discount : <span>$900</span></p>
        <p>Total Payable <span>$900</span></p>
    </div>
</section>